.banner {
  position: relative;
  padding-top: 27px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-top: 29px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-bottom: 117px;
    padding-top: 24px;
  }
}

.banner__header {
  margin-bottom: 24px;
  padding-left: 16px;
  color: #ffffff;
  text-indent: 9px;
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    width: 420px;
    margin-top: 31px;
    margin-bottom: 40px;
    padding-left: 87px;
    text-indent: 0;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
    padding-left: 0;
    margin-bottom: 40px;
  }
}

.banner__inner {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
  }

  @media (min-width: @desktop-width) {

    grid-template-columns: 415px max-content;
    margin-bottom: 60px;
    padding-left: 160px;
  }
}

.banner::before,
.banner::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    left: 50%;
    top: -132px;
    width: 50%;
    height: 696px;
  }
}

.banner::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 302px;
  background-image: linear-gradient(@basic_green--085, @basic_green--085), url("../img/index/index-background-mobile.jpg"), linear-gradient(to right, #525358, #434247);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 100%;
  object-fit: contain;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(@basic_green--085, @basic_green--085), url("../img/index/index-background-mobile@2x.jpg"), linear-gradient(to right, #525358, #434247);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: -133px;
    left: 50%;
    width: 50%;
    display: block;
    height: 694px;
    background-image: linear-gradient(@basic_green--085, @basic_green--085), url("../img/index/index-background-desktop.jpg"), linear-gradient(to right, #525358, #434247);
    background-position: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(@basic_green--085, @basic_green--085), url("../img/index/index-background-desktop@2x.jpg"), linear-gradient(to right, #525358, #434247);
    }
  }
}

.banner__text {
  margin: 0 18px 24px 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    padding-left: 74px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin: 0;
  }
}

.banner__image-wrap {
  @media (min-width: @tablet-width) {
    grid-row: 3/-1;
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/-1;
    grid-column: 2/3;
    position: relative;
    top: -16px;
    left: -47px;
  }
}

.banner__image {
  max-width: 100%;
  min-width: 300px;
  height: auto;
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    width: 710px;
    height: auto;
    margin-left: 0;
    margin-bottom: -5px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 552px;
  }
}

.banner__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-row: 3/4;
    grid-column: 1/2;
    order: 10;
    width: 245px;
    word-wrap: break-word;
    padding: 17px 26px;
    margin-left: 91px;
    margin-top: 29px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 51px;
  }
}
