.banner {
  padding-top: 27px;
}

.banner__header {
  margin-bottom: 25px;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.banner__inner {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    min-height: 560px;
    margin-bottom: 82px;
  }
}

.banner__inner::before {
  position: absolute;
  top: 265px;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 302px;
  background-color: @basic_green--085;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 50%;
    display: block;
    width: 50%;
    min-height: 696px;
  }
}

.banner__inner::after {
  position: absolute;
  top: 265px;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 302px;
  background-image: linear-gradient(@basic_green--085, @basic_green--085), url("../img/index/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 50%;
    display: block;
    width: 50%;
    min-height: 696px;
  }
}

.banner__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }
}

.banner__image {
  @media (min-width: @tablet-width) {
    order: 10;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 552px;
    height: 500px;
    top: 20%;
    left: 40%;
  }
}

.banner__button {
  @media (min-width: @tablet-width) {
    width: 200px;
    word-wrap: break-word;
    padding: 14px 26px;
  }
}
