.banner {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
  url(../img/index/index-background-mobile.jpg);
  background-repeat: no-repeat;
}

.banner__header {
  color: #ffffff;
}

.banner__text {
  font-family: 'Oswald Regular', 'Arial, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
