.button-show-more {
  width: 100%;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: @special_dark-grey;
  border: none;
  background-color: @basic_grey;
}
