.button-catalog {
  display: block;
  margin: 0;
  padding: 11px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  word-wrap: break-word;

  background-color: @basic_green;
  border: none;
}

.button-catalog:hover {
  background-color: @basic_green-2;
}

.button-catalog:active {
  background-color: @basic_green-2;
  color: #ffffff4d;
}
