.demo {
  background-color: #EAEAEA;
}

.demo__text {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: @special_dark-grey;
}

.data-top__description {
  font-family: 'Oswald Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
}

.data-top__term {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  color: @special_dark-grey;
}

.data-bottom__term {
  font-family: 'Oswald Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  color: #000000;
}

.data-bottom__description {
  font-family: 'Oswald Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  color: #000000;
}
