.features {
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.features__header {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.features__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list1;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 80px auto;
    grid-template-rows: 80px auto;
    width: 250px;
    min-height: 280px;
    margin-bottom: 37px;
    margin-right: 74px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-right: 0;
    margin-bottom: 15px;
    padding-left: 0;
  }
}

.features__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-position: -8px -9px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    width: 80px;
    height: 80px;
    background-position: 0 3px;
  }
}

.features__item--1::before {
  background-image: url("../img/index/features-1.svg");
}

.features__item--2::before {
  background-image: url("../img/index/features-2.svg");
}

.features__item--3::before {
  background-image: url("../img/index/features-3.svg");
}

.features__item--4::before {
  background-image: url("../img/index/features-4.svg");
}

.features__item::after {
  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    z-index: -1;
    counter-increment: list1;
    content: counter(list1);
    width: 90px;
    height: 280px;
    padding-left: 32px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 205px;
    color: @basic_grey;
  }
}

.features__text {
  margin: 0;
  padding-left: 20px;
  padding-top: 2px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-left: 0;
    padding-top: 34px;
    font-size: 16px;
    line-height: 24px;
  }
}
