.form {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__label,
.form__input,
.form__email-input,
.form__tel-input,
.form__comments {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.form__label--aim {
  color: @special_dark-grey-2;
}

.form__label--add {
  color: #000000;
}

.form__footnote {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form__additional-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__submit {
  @media (min-width: @tablet-width) {
    width: 245px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__fieldset-name {
  grid-column: 1/2;
}

.form__fieldset-contacts {
  grid-column: 1/-1;
}

.form__contacts-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }
}

.form__fieldset-comments {
  grid-column: 1/-1;
}

.form__fieldset-additional {
  grid-column: 1/-1;
}
