.gift {
  background-color: @basic_green--085;
}

.gift__image {
  position: relative;
  z-index: -1;
}

.gift__text {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
