.main-nav__logo-list {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
}

.main-nav__menu-item {
  min-height: 66px;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}
