.page-footer--dark {
  background-color: @basic_grey;
}

.page-footer__links {
  background-color: @basic_grey;
}

.page-footer__inner {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 60px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__logo svg {
  width: 160px;
  height: 23px;
}
