.product {
  position: relative;
  display: grid;
  grid-template-columns: 136px 83px 61px;
  grid-template-rows: auto auto auto;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 511px;
    margin: 0;
    padding: 0 37px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0;
  }
}

.product__name-link {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  padding: 5px;
  margin-bottom: 8px;
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    align-self: center;
    padding: 5px 56px 5px 59px;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 30px 5px 37px;
    margin-bottom: 11px;
  }
}

.product__name {
  margin: 0;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: bottom;
  word-wrap: break-word;
  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    width: 150px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
  }
}

.product__image-wrap {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  width: 140px;
  height: 112px;

  @media (min-width: @tablet-width) {
    order: -1;
    height: 200px;
    width: auto;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    height: 196px;
    margin-bottom: 42px;
  }
}

.product__image {
  max-width: 100%;
}

.product__features {
  grid-column: 2/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: auto auto auto;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    grid-template-columns: 123px 127px;
    margin: 0 0 32px;
    padding-left: 0;
    align-items: end;

    &::after {
      position: absolute;
      bottom: 8px;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 84%;
      content: "";
      background-color: @basic_grey;

      @media (min-width: @desktop-width) {
        bottom: 0;
      }
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin: 0 36px 33px 42px;
  }
}

.product__value {
  margin: 0;
  margin-left: auto;
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    width: 100%;
    line-height: 31px;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid @special_grey;
  }
}

.product__feature {
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid @special_grey;
  }
}

.product__button {
  grid-column: 1/-1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 36px;
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    width: 148px;
    margin: 0 auto 18px;
  }
}
