.program-selection {
  margin-top: 24px;
  margin-bottom: 34px;


  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 34px;
    margin-bottom: 65px;
  }
}

.program-selection__header {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-left: 76px;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-bottom: 37px;
  }
}
