.show-more {
  grid-template-columns: 280px;
  grid-template-rows: auto auto auto;
  padding-top: 55px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 18px;
    right: 125px;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    transform: rotate(-90deg);
  }

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    min-height: 195px;
    padding-top: 175px;
    padding-bottom: 38px;
    outline: 2px solid @basic_grey;

    &::before,
    &::after {
      width: 60px;
      top: 96px;
      right: 132px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 190px;

    &::before,
    &::after {
      right: 93px;
      top: 110px;
    }
  }
}

.show-more__title {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 134px;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 85px;
    width: 167px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  padding: 10px;
}
