// Colors

@basic_green: #68b738;
@basic_green--085:#68b738d9;
@basic_green-2: #5EAA2F;
@basic_grey: #F2F2F2;
@special_grey: #CDCDCD;
@special_grey-2: #EBEBEB;
@special_grey-3: #666666;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@status_error: #FF8282;

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
